/* ### CUSTOM VARIABLES ### */

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* ### GENERAL STYLING ### */

body {
  font-family: "Red Hat Text", sans-serif;
}

main {
  display: grid;
  grid-template-areas:
    "title title title cart-display"
    "desserts-grid desserts-grid desserts-grid cart-display";
}

h1 {
  grid-area: title;
}

.desserts-grid {
  grid-area: desserts-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cart-display {
  grid-area: cart-display;
}
