/* ### CUSTOM VARIABLES ### */

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* ### GENERAL STYLING ### */

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--rose-100);
}

main {
  display: grid;
  grid-template-areas:
    "title title title cart-display"
    "desserts-grid desserts-grid desserts-grid cart-display"
    "desserts-grid desserts-grid desserts-grid ..";
}

h1 {
  grid-area: title;
  color: var(--rose-900);
}

.desserts-grid {
  grid-area: desserts-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cart-display {
  grid-area: cart-display;
}

/* ### DESSERTS GRID ### */

.dessert img {
  border-radius: 0.6rem;
}

.dessert-body {
  position: relative;
  padding-top: 2rem;
}

.dessert-category {
  color: var(--rose-400);
}

.dessert-name {
  color: var(--rose-900);
  font-weight: 600;
}

.dessert-price {
  color: var(--red);
  font-weight: 500;
}

.dessert button {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translate(25%, 50%); */
  background-color: var(--rose-50);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  padding: 0.4rem 1rem;
  border: 2px solid var(--rose-500);
  cursor: pointer;
}

/* ### CART DISPLAY ### */

.cart-display {
  background-color: var(--rose-50);
  border-radius: 0.6rem;
}

.cart-display__title {
  color: var(--red);
}

.empty-cart-text {
  color: var(--rose-500);
  font-weight: 500;
}
