/* ### CUSTOM VARIABLES ### */

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

/* ### CSS RESET ### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* ### UTILITIES ### */

.hidden {
  display: none;
}

/* ### GENERAL STYLING ### */

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--rose-100);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  /* position: relative; */
  max-width: 90%;
  display: flex;
  gap: 2rem;
}

h1 {
  color: var(--rose-900);
}

/* ### DESSERTS GRID ### */

.desserts-container {
  max-width: 70%;
}

.desserts-grid {
  margin-block-start: 1.5rem;
  /* max-width: 60%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.dessert {
  max-width: 300;
}

/* .dessert picture {
  max-width: 300px;
} */

.dessert img {
  border-radius: 0.6rem;
  /* max-width: 300px; */
}

.dessert-body {
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.dessert-category {
  color: var(--rose-400);
}

.dessert-name {
  color: var(--rose-900);
  font-weight: 600;
  font-size: 1.075rem;
}

.dessert-price {
  color: var(--red);
  font-weight: 500;
  font-weight: 600;
}

.dessert button {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translate(25%, 50%); */

  border-radius: 200px;
  overflow: hidden;
  border: 1px solid var(--rose-500);
  cursor: pointer;
  min-width: 65%;
  font-weight: 600;
}

.cart-state-0 .wrapper {
  background-color: var(--rose-50);
  padding: 0.5rem 1.325rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.cart-state-1 .wrapper {
  background-color: var(--red);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
  align-items: center;
  color: var(--rose-50);
}

/* ### CART DISPLAY ### */

.cart-display {
  width: 35%;
  padding: 1.5rem;
  background-color: var(--rose-50);
  border-radius: 0.6rem;
  align-self: flex-start;
  /* position: absolute;
  top: 0;
  right: 0; */
}

.cart-display__title {
  color: var(--red);
}

.empty-cart-text {
  color: var(--rose-500);
  font-weight: 500;
  text-align: center;
}

.empty-cart-img {
  margin-inline: auto;
}
